<header>
  <nav>
    <ul>
      <a href="/">
        <li>Accueil</li>
      </a>
      <a href="/projets"><li>Projets</li></a>
      <li>À Propos</li>
      <li>Contact</li>
    </ul>
  </nav>
</header>
