<header>
  <nav>
    <ul>
      <a href="/">
        <li>Accueil</li>
      </a>
      <a href="/projets"><li>Projets</li></a>
      <a href="/about"><li>À Propos</li></a>
      <a href="/contact"><li>Contact</li></a>
    </ul>
  </nav>
</header>
