<!DOCTYPE html>
<html lang="fr">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>

    <main>
      <h1>Page non trouvée</h1>
      <p>Désolé, cette page n'existe pas.</p>
      <a href="/"><button>Retourner à l'accueil</button></a>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
