<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%> | Portfolio</title>
  </head>
  <body>
    <h1>Ndaya Heukane Kevin Gaetan</h1>
    <hr />
    <h2>Backend Developer en formation</h2>
    <p>
      Etudiant en Informatique à l'IUT de Douala et Backend Developer en
      formation
    </p>
    <hr />
    <a href="/projets"><button>Projets</button></a>
    <br /><br />
    <a href="/contact"><button>Contacts</button></a>
  </body>
</html>
