<!DOCTYPE html>
<html lang="fr">
  <%- include ('partials/head')%>
  <body>
    <%- include ('partials/header')%>

    <h1>Ndaya Heukane Kevin Gaetan</h1>
    <hr />
    <h2>Backend Developer en formation</h2>
    <p>
      Etudiant en Informatique à l'IUT de Douala et Backend Developer en
      formation
    </p>
    <hr />
    <a href="/projets" class="btn">Voir mes projets</a>
    <br /><br />
    <a href="/contact" class="btn">Me contacter</a>
    <%- include ('partials/footer')%>
  </body>
</html>
